body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #fcba03;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 557px;
    height: 557px;
    margin: 0 auto;
}

.draw {
    background-color: white;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: darkgray;
}

.grid-button {
    width: auto;
    height: 100px;
    margin: 0 42px;
}